
*{
    margin: 0;
    padding: 0;
}
li{
   float: left;
  
}
li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}
li > a :hover{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 34%, rgba(134,1,247,0.6222864145658263) 61%, rgba(136,0,255,1) 100%);
    text-decoration: none;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 34%, rgba(134,1,247,0.6222864145658263) 61%, rgba(136,0,255,1) 100%);
    display: flex;
}
.cadastro{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f8f6f6;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

formulario{
     width: 390px;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    overflow: hidden;
}

input{
    font-family: Poppins-Regular;
    font-size: 15px;
    color:  #a07ba6;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
    margin-bottom: 37px;
}
button{
     
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 30%;
    height: 30px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
   background-color: #a07ba6;
   cursor: pointer;
   border-radius: 4px;
}
h2{
    font-family: Poppins-Regular;
    color: #a07ba6;
    line-height: 1.8;
}
  