
*{
    margin: 0;
    padding: 0;
}
li{
   float: left;
  
}
li > a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}
li > a :hover{
    background-color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 34%, rgba(134,1,247,0.6222864145658263) 61%, rgba(136,0,255,1) 100%);
    text-decoration: none;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 34%, rgba(134,1,247,0.6222864145658263) 61%, rgba(136,0,255,1) 100%);
    display: flex;
}

footer a{
    color: white;
    text-decoration: none;
}

.container p{
    color: #8a3398;
     line-height: 1.8;
}
  
.tela{
    display: flex;
    padding: 14px;
   
}
  img{
     border-radius: 4px;
      padding-right: 14px;
      width: 30%;
      height: 30%;
    
  }
  em{
      line-height: 1.8;
      justify-content: center;
  }

